* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.35s linear;
}
body {
    color: white;
    display: flex;
    --bg: #358194;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
.player {
    width: 640px;
    display: grid;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
    background-color: var(--bg);
    grid-template-columns: 48px 1fr 48px;
}
.control, .player__current {
    height: 100%;
    display: flex;
    padding-block: 16px;
    align-items: center;
    justify-content: center;
}
.player__play {
    font-size: 24px;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
.player__play:hover {
    -webkit-text-fill-color: white;
}
.player__info {
    display: flex;
    font-size: 21px;
    align-items: center;
    justify-content: center;
}
.player__current {
    text-align: right;
}
.player__bar {
    z-index: -2;
    --space: -4px;
    overflow: hidden;
    top: var(--space);
    left: var(--space);
    position: absolute;
    border-radius: 64px;
    right: var(--space);
    bottom: var(--space);
    background-color: #24242424;
}
.player__progress {
    display: blcok;
    height: 100%;
    background-color: white;
    transition: all 1s linear;
    width: var(--progress,0%);
}
.player__progress.stopped {
    background-color: orange;
}
